PythonText.txt
PythonText_satz.txt
PythonText_satz_antiHashTag.txt
Word Docs/Python Usersguide - correct version.docx
Word Docs/Python Usersguide.docx
Pics/1. Pflichtenheft + 2.jpg
Word Docs/Step by Step for Python 2.0.docx
Pics/3 + 4.jpg
Pics/5. ....jpg
Pics/Capture.PNG
Word Docs/PasswordGenerator2000 - analyse.docx
Word Docs/Step by Step for Python 2 0 - correct version.docx