PythonText.txt
PythonText_satz.txt
PythonText_satz_antiHashTag.txt
Word Docs/Python Usersguide - correct version.docx
Word Docs/Python Usersguide.docx
Pics/1. Pflichtenheft + 2.jpg
Word Docs/Step by Step for Python 2.0.docx